<%- include("../includes/head") %>
    <section class="mx-auto">
      <a href="/">Go back home</a>
      <h1 class="title">Login account here...</h1>
      <% if(errorMsg) { %>
        <p class="error-msg"><%= errorMsg %></p>
      <% } %>
      <form action="/login" method="post">
        <input type="text" value="<%= csrfToken %>" name="_csrf" hidden>
        <div class="form-box">
          <div>
            <label for="email">Enter email</label>
            <input type="text" id="email" name="email" value="<%= oldData.email %>"/>
          </div>
          <div>
            <label for="password">Enter password</label>
            <input type="password" id="password" name="password" value="<%= oldData.password %>"/>
          </div>
            <a href="/reset-password">Forgot Password?</a>
        </div>
        <button>Login account</button>
      </form>
    </section>
  </body>
<%- include("../includes/foot") %>