<%- include("../includes/head") %>
    <section class="mx-auto roboto-medium">
      <a href="/">i.fa-solid.fa-arrow-left-long.icon</a>
      <h1 class="title">Change new password</h1>
      <% if(errorMsg) { %>
        <p class="error-msg"><%= errorMsg %></p>
      <% } %>
      <form action="/change-password" method="post">
        <div class="form-box">
          <input type="text" value="<%= csrfToken %>" name="_csrf" hidden>
          <input type="text" value="<%= resetToken %>" name="resetToken" hidden>
          <input type="text" value="<%= user_id %>" name="user_id" hidden>
          <div class="bd-ctl">
            <label for="password">Enter new password</label>
            <input type="password" id="password" name="password" value="<%= oldData.password %>" />
          </div>
          <div class="bd-ctl">
            <label for="confirm_password">Confirm password</label>
            <input type="password" id="confirm_password" name="confirm_password" value="<%= oldData.confirm_password %>" />
          </div>
        </div>
        <button>Change password</button>
      </form>
    </section>
  </body>
<%- include("../includes/foot") %>