<%- include("../includes/head") %>
    <section class="mx-auto roboto-medium">
      <a href="/"><i class="fa-solid fa-arrow-left-long icon"></i>Go back home</a>
      <h1 class="title form-title">Register account here...</h1>
      <% if(errorMsg) { %>
        <p class="error-msg"><%= errorMsg %></p>
      <% } %>
      <form action="/register" method="post">
        <div class="form-box">
          <input type="text" value="<%= csrfToken %>" name="_csrf" hidden>
          <div>
            <label for="email">Enter email</label>
            <div class="input-container">
              <i class="fa-solid fa-envelope input-icon"></i>
              <input type="text" id="email" name="email" value="<%= oldData.email %>"/>
            </div>
          </div>
          <div>
            <label for="password">Enter password</label>
            <div class="input-container">
              <i class="fa-solid fa-lock input-icon"></i>
              <input type="password" id="password" name="password" value="<%= oldData.password %>"/>
            </div>
          </div>
        </div>
        <button>Create account</button>
      </form>
    </section>
  </body>
  <%- include("../includes/foot") %>