<%- include("../includes/head") %>
    <section class="mx-auto">
      <a href="/login">Go back login</a>
      <h1 class="title">Reset password here...</h1>
      <% if(errorMsg) { %>
        <p class="error-msg"><%= errorMsg %></p>
      <% } %>
      <form action="/reset" method="post" novalidate>
        <div class="form-box">
          <input type="text" value="<%= csrfToken %>" name="_csrf" hidden>
          <div>
            <label for="email">Enter email</label>
            <input type="email" id="email" name="email" value="<%= oldData.email %>"/>
          </div>
        </div>
        <button>Reset password</button>
      </form>
    </section>
  </body>
<%- include("../includes/foot") %>