<%- include("./includes/head") %>
<h1 class="title roboto-medium">Posts</h1>
<% if(postsArr.length === 0 && isLogin) { %>
<div class="roboto-medium no-post">
  <h4>Nothing to see ?</h4>
  <p>Create a new post now !!!</p>
  <a href="/admin/create-post">Create a new post</a>
</div>
<% } %>
<div class="post-box roboto-medium">
  <% for(let post of postsArr) { %>
  <div class="post-inner card">
    <div class="head-handler">
      <% if(post.userId.username) { %>
        <% if(post.userId.isPremium && post.userId.profile_img) { %>
          <img src="<%= '/' + post.userId.profile_img %>" alt="<%= post.userId.username %>" class="home-profile-img">
        <% } else { %>
          <i class="fa-solid fa-circle-user icon "></i>
        <% } %>
      <div class="username-ic">
        <%= post.userId.username %> <% if(post.userId.isPremium) { %>
        <i
          class="fa-solid fa-star star-icon animate__animated animate__jello animate__infinite"
        ></i>
        <% } %>
      </div>
      <% } %>
    </div>
    <img src="<%= '/' + post.imgUrl %>" alt="<%=  post.title %>" />
    <a href="/post/<%= post._id %>" class="post-title"
      ><%= post.title.substr(0, 25) %></a
    >
    <p class="post-description roboto-regular">
      <%= post.description.substr(1, 230) %>...
    </p>
    <% if(post.userId._id.toString() === currentUserId.toString()) { %>
    <p class="post-email">
      Post by:
      <a href="/admin/profile"><%= post.userId.email %></a>
    </p>
    <% } else { %>
    <p class="post-email">
      Post by:
      <a href="/profile/<%= post.userId._id %>"><%= post.userId.email %></a>
    </p>
    <% } %>
  </div>
  <% } %>
</div>
<hr />
<div class="pagination">
  <% if(hasNextPage) { %>
  <a href="/?page=<%= nextPage %>">Next Page <%= nextPage %></a>
  <% } %> <% if(hasPreviousPage) { %>
  <a href="/?page=<%= previousPage %>">Previous Page <%= previousPage %></a>
  <% } %>
</div>
<%- include("./includes/foot") %>
