<%- include("./includes/head") %>
<h1 class="title roboto-medium">Posts</h1>
<% if(postsArr.length === 0 && isLogin) { %>
<div class="roboto-medium no-post">
  <h4>Nothing to see ?</h4>
  <p>Create a new post now !!!</p>
  <a href="/admin/create-post">Create a new post</a>
</div>
<% } %> 
<div class="post-box roboto-medium">
  <% for(let post of postsArr) { %>
  <div class="post-inner card">
    <a href="/post/<%= post._id %>" class="post-title"><%= post.title.substr(0, 25) %></a>
    <img src="<%= '/' + post.imgUrl %>" alt="<%=  post.title %>">
    <p class="post-description roboto-regular"><%= post.description.substr(1, 230) %>...</p>
    <p class="post-email">Post by: <%= post.userId.email %></p>
  </div>
  <% } %> 
</div>
<hr />
<div class="pagination">
  <% if(hasNextPage) { %>
    <a href="/admin/profile/?page=<%= nextPage %>">Next Page <%= nextPage %></a>
  <% } %>
  <% if(hasPreviousPage) { %>
    <a href="/admin/profile/?page=<%= previousPage %>">Previous Page <%= previousPage %></a>
  <% } %>
</div>
<%- include("./includes/foot") %>
