<%- include("../includes/head") %>
    <section class="mx-auto roboto-medium">
      <h1 class="title">Set Username</h1>
      <% if(errorMsg) { %>
        <p class="error-msg"><%= errorMsg %></p>
      <% } %>
      <form action="/admin/set-username" method="post" novalidate>
        <div class="form-box">
          <input type="text" value="<%= csrfToken %>" name="_csrf" hidden>
          <div class="bd-ctl">
            <label for="username">Enter Username</label>
            <input type="text" id="username" name="username" value="<%= oldData %>" />
          </div>
        </div>
        <button>Set Username</button>
      </form>
    </section>
  </body>
<%- include("../includes/foot") %>
